.container {
    padding: 20px 20px 10px 20px;
    height: 100%;
}

.container1 {
    display: flex;
}

.titulo {
    font-size: 14px;
}

.btnRotas{
}

.descricaoContainer {
    background-color: red;
    position: relative;
}

.horariosContatoContainer {
    display: flex;
}

.descricao {

}

#titulo {
    font-size: 24px;
}

#subtitulo2 {
    color: green;
}