.container-social-media{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #313131;
    padding-bottom: 5%;
}

.social-media {
    font-weight: bold !important;
}

.tituloContainer{
    display:flex;
    justify-content: center;
}

.rede{
    display:flex;
    justify-content: center;
}
