.instituicao-nome {
    display: block;
}

.instituicao-aberta {
    color: green;
    display: block;
}

.instituicao-fechada {
    color: red;
    display: block;
}

.distancia {
    color: gray;
    display: block;
}

.modal-instituicao {
    border-radius: 20px 20px 0 0;
    margin-top: 10vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.conteudo-modal-instituicao {
    border-radius: 20px;
}