.containerTotal {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #313131;
}

.horario {
    font-weight: bold !important;
    padding-bottom: 5%;
}

.dia{
    font-size: 12px;
    height: 25px;
}

.titulo-social-media{
    display:flex;
    justify-content: center;
}